*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-blend-mode: overlay;
    background-color: rgb(75, 71, 71);
    /* justify-content: center; */
    background-image: url(/img/image02.jpg);
    background-attachment: fixed;
}
.sub{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */

}
.h::first-letter{
    color: rgb(239,186,108);
}
li::first-letter{
    color: rgb(239,186,108);
}

.h1::first-letter{
    color: rgb(239,186,108);
}
.a{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-image: url(/img/image01.png); */
    /* border: 1px solid black; */
}
.v{
    font-size: 60px;
    color: white;
    margin-top: 20px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    /* margin-left: 20px; */
}
.v1::first-letter{
    color: rgb(239,186,108);
}
.v1{
    margin-top: 40px;
    color: white;   cursor: pointer;
    /* margin-left: 30px; */
}
.a1{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    list-style: none;
    /* border: 1px solid black; */
}
.a1 li{
    font-size: 20px;
}
.box{
    width: 25%;
    height: 600px;
    margin-left: 15%;
    /* border: 1px solid black; */
}
.h{
    font-size: 60px;
    color: white;
}
.h1{
    font-size: 19px;
    margin-top: 32px;
    color: white;
}
.section_1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 700px;

}
.sen{
    width: 40%;
    height: 80%;
    padding-left: 10%;
    padding-top: 4%;
    /* border: 1px solid black; */
}
.sen1{
    width: 40%;
    height: 80%;
   
    /* border: 1px solid black; */
}
.l{
    font-size: 70px;
    font-family: 'Cute Font', sans-serif;
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: rgb(239,186,108);
    text-shadow: 0px 0px 30px 10px;
}
.l1{
    font-size: 60px;
    font-family: 'Cute Font', sans-serif;
}
.l2{
    font-size: 20px;
    margin-top: 20px;
}

.l3{
    font-size: 20px;
    margin-top: 20px;
}
.l4{
    width: 100%;
    height: 100%;

}
.section_2{
    width: 100%;
    height: 900px;
    /* border: 1px solid black; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;

}
.ss{
    width: 62%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.s1{
    width: 100%;
    height:20%;
   
    /* border: 1px solid black; */
}
.s2{
    width: 30%;
    height: 35%;
    background-image: url(/img/image04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-blend-mode: overlay;
    /* background-color: rgb(75, 71, 71); */
    background-size: cover;
   
    /* border: 1px solid black; */

    
}
.s2:hover .bt1{
    transform: translatey(-80px);
    opacity: 100%;
}

.s2:hover .t{
    transform: translatey(-50px);
    opacity: 100%;
}
.s2:hover{
    background-color: rgb(75, 71, 71);
}
.s3{
    width: 30%;
    background-image: url(/img/image05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
    /* background-color: rgb(75, 71, 71); */
    height: 35%;

    /* border: 1px solid black; */
}


.s3:hover .bt1{
    transform: translatey(-80px);
    opacity: 100%;
}

.s3:hover .t{
    transform: translatey(-50px);
    opacity: 100%;
}
.s3:hover{
    background-color: rgb(75, 71, 71);
}
.s4{
    width: 30%;
    height: 35%;
    background-image: url(/img/image06.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    /* background-color: rgb(75, 71, 71); */
    position: relative;
    background-size: cover;
    /* border: 1px solid black; */
}

.s4:hover .bt1{
    transform: translatey(-80px);
    opacity: 100%;
}

.s4:hover .t{
    transform: translatey(-50px);
    opacity: 100%;
}
.s4:hover{
    background-color: rgb(75, 71, 71);
}
.s5{
    width: 30%;
    height: 35%;
    background-image: url(/img/image07.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-blend-mode: overlay;
    /* background-color: rgb(75, 71, 71); */
    /* border: 1px solid black; */
}
.s5:hover .bt1{
    transform: translatey(-80px);
    opacity: 100%;
}

.s5:hover .t{
    transform: translatey(-50px);
    opacity: 100%;
}
.s5:hover{
    background-color: rgb(75, 71, 71);
}
.s6{
    width: 30%;
    height: 35%;
    background-image: url(/img/image08.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-blend-mode: overlay;
    /* background-color: rgb(75, 71, 71); */
    /* border: 1px solid black; */
}
.s6:hover .bt1{
    transform: translatey(-80px);
    opacity: 100%;
}

.s6:hover .t{
    transform: translatey(-50px);
    opacity: 100%;
}
.s6:hover{
    background-color: rgb(75, 71, 71);
}

.s7{
    width: 30%;
    height: 35%;
    background-image: url(/img/image09.jpg);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
   
    background-size: cover;
    /* border: 1px solid black; */
}

.s7:hover .bt1{
    transform: translatey(-80px);
    opacity: 100%;
    
}

.s7:hover .t{
    transform: translatey(-50px);
    opacity: 100%;
 
}
.s7:hover{
    background-color: rgb(75, 71, 71);
}
/* .s2{
    width: 30%;
    height: 35%;
    background-image: url(/img/image10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
} */

.bt1{
    width: 100px;
    height: 40px;
    bottom: 0px;
    left: 37%;
    border-radius: 20px;
    position: absolute;
    opacity: 0;
     transition: 0.7s;
    background-color: rgb(239,186,108);
}
.t{
    font-size: 20px;
    color: white;
    position: absolute;
    opacity: 0;
    bottom: 0;
     transition: 0.7s;
left: 27%;
    
}
.section_3{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
}
.cc{
    width: 62%;
    height: 80%;
    display: flex;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.c1{
    width: 100%;
    height: 30%;
    
    /* border: 1px solid black; */
   
}

.c2{
    width: 30%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.c3{
    width: 30%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.c4{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70%;
    /* border: 1px solid black; */
}
.q{
    width: 100%;
    height: 100%;
}
.w{
    width: 90%;
    height: 45%;
    /* border: 1px solid black; */
}
.w1{
    width: 100%;
    height: 55%;
    text-align: center;
    /* border: 1px solid black; */
}
.zz{
    font-size: 30px;
    color: rgb(251, 179, 70);
    margin-top: 20px;
    cursor:pointer;

}
.zz1{
    font-size: 24px;
    margin-top: 10px;
    color: rgb(60, 56, 56);
}
.zz2{
    font-size: 23px;
    margin-top: 20px;
    color: rgb(135, 125, 125);
}

.nc{
    font-size: 30px;
    margin-left: 10px;
    cursor:pointer;
    margin-top: 30px;
    color: rgb(252, 163, 73);
}
.section_4{
 width: 100%;   
 height: 800px;
 display: flex;
 justify-content: center;
 align-items: center;
 /* border: 1px solid black; */
}
.sb{
    width: 70%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */

}
.sb1{
    width: 100%;
    height: 20%;
    /* border: 1px solid black; */
}
.sb2{
    width: 48%;
    height: 60%;
    background-color: #EFBA6C;
    /* border: 1px solid black; */
    padding: 20px;
    text-align: center;
}
.sb3{
    width: 48%;
    height: 60%;
    background-color: #EFBA6C;
    /* border: 1px solid black; */
}
.df{
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    /* float: left; */
    margin-left: 33%;

    
}
.mw{
    font-size: 25px;
    margin-top: 20px;
}
.jbv{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.or{
    font-size: 30px;
    margin-top: 30px;
}
.section_5{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.c2{
    width: 30%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.wx{
    width: 100%;
    /* border: 1px solid black; */
    height: 70%;

}
.w1x{
    height: 39%;
    width: 100%;
    /* border: 1px solid black; */
}
.qq{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 14px;
}
.bnm{
    color: gray;
   margin-bottom: 14px;
}
.rnw{
    color: #EFBA6C;
    
}
.bbb{
    font-size: 20px;
    color: rgb(70, 69, 69);
    margin-top: 10px;
}
.section_6{
    width: 100%;
    height: 500px;
  background-image: url(/img/image02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: overlay;
  background-color: rgb(127, 88, 88);
}
.sen7{
    width: 70%;
    height: 90%;
    padding-top: 4%;
    margin-right: 10%;
    text-align: center;
    padding-left: 7%;
    /* border: 1px solid black; */
}
.kkk{
    font-size: 37px;
    color: white;

}
.kkk1{
    color: white;
    margin-top: 2%;
    font-size: 24px;
    margin-left: 20%;
    margin-right: 20%;
}
.bt2{
    width: 200px;
    margin-top: 2%;
    height: 50px;
    background-color: #EFBA6C;
    color: white;
    border: none;
    font-size: 17px;

}
footer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.ft{
    width: 33%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.ft1{
    width: 33%;
    height: 80%;
    padding-left: 10%;
    /* border: 1px solid black; */
}
.ft2{
    width: 33%;
    height: 80%;
    /* border: 1px solid black; */
}
.ft3{
    width: 100%;
    height: 20%;
    text-align: center;
    /* border: 1px solid black; */
}

.ff{
    width: 100%;
    height: 15%;
    padding-top: 2%;

    /* border: 1px solid black; */
}

.ff1{
    width: 30%;
    height: 35%;
    /* border: 1px solid black; */
}

.ff2{
    width: 30%;
    height: 35%;
    /* border: 1px solid black; */
}
.ff3{
    width: 30%;
    height: 35%;
    /* border: 1px solid black; */
}
.ff4{
    width: 30%;
    height: 35%;
    /* border: 1px solid black; */
}
.ff5{
    width: 30%;
    height: 35%;
    /* border: 1px solid black; */
}
.ff6{
    width: 30%;
    height: 35%;
    /* border: 1px solid black; */
}
.rrr{
    width: 100%;
    height: 100%;
}
.tr{
    font-size: 24px;

}
.tr11{
    font-size: 24px;
    margin-bottom: 21%;

}
.qp{
    color: #EFBA6C;
    font-size: 16px;
    text-decoration: none;
}

.qp1{
    color: #EFBA6C;
    font-size: 16px;
 
    text-decoration: none;
}
.tr12{
    font-size: 24px;
    margin-bottom: 8%;

}
.evmm{
    font-size: 20px;

}
.inp{
    width: 240px;
    height: 40px;
    float: left;
    margin-top: 5%;
    padding-left: 14px;

}
.bt3{
    background-color: #EFBA6C;
    color: black;
    margin-left: 10px;
    width: 100px;
    height: 40px;
    margin-top: 5%;
    font-size: 20px;
}




  

.st24{
    color: #b1823c;
        cursor: pointer;
    }
    .htad{
        font-size: 18px;
        font-weight: bold;
    }
    .king{
        color:rgb(246, 118, 118);
        margin: 1%;
    }