*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header{
    width: 100%;
    height: 100vh;
    background-color: #2C153C;
    display: flex;
    

} */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: auto;

    background-color: #2C153A;

}
header {
    width: 100%;
    height: 90px;
    background-color: transparent;
    justify-content: space-around;
    /* align-items: center; */
    display: flex;
    /* border: 1px solid black; */
}

.logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

header nav {
    width: 40%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid black; */
}

header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

header nav ul li {
    list-style: none;

}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#barr {
    display: none;
}

.bt_u{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: #7A3DAC;
    /* border: 3px solid white; */
    color: white ;
}
.bt_u:hover{
    border: 3px solid white;
    transform: scale(0.9);
    box-shadow: 0px 0px 16px 10px gray;
    background-color: transparent;
}
.con_btu:hover{
    border: 3px solid white;
    transform: scale(0.9);
    box-shadow: 0px 0px 16px 10px gray;
    background-color: transparent;
}
.linn{
    color: white;
    font-style: italic;
    font-size: 30px;
}
.bb{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pho{
    height: 700px;
}
.con_btu{
    width: 150px;
    background-color: #7A3DAC;
    color: white;
    height: 50px;
    border-radius: 20px;

    
}
.mmf{
    cursor: pointer;
    color: white;
}
.mmf:hover{
    color: #7A3DAC;
    text-decoration: underline;
}

#borde{
    border-color: transparent;
}
.pho{
    animation: ww;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes ww{
    0%{
        transform: scale(1.1);
        transform: translatey(-50px);
    }
    50%{
        transform: scale(1);
        transform: translatey(50px);
    }
    100%{
        transform: scale(1.1);
        transform: translatey(-50px);
    }
}

.comx{
    font-size: 50px;
    color: white;
    background-color: #9D5EC5;
    border-radius: 50%;
}

/* body{
    background-color: #2C153A !important;
} */

#uni{
    padding: 20px;
    text-align: center;
    border-radius: 20px;
   
}
.section_2{
    background-color: #2C153A;
}

.section_3{
    background-color: #2C153A;
    /* margin-top: 100px; */
    padding-top: 150px;

}




#cooi{
    background-color: #160C1C;
    color: antiquewhite;
    text-align: center;
    border-radius: 20px;
    /* padding: 20px; */
    padding-top: 50px;
    margin-left: 40px;
}


#sakti{
    width: 300px;
    height: auto;
}

.section_count{
    background-color: #2C153A;


}

#cvc{
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 2%;

}

/* #kaim{
    margin-top: ;
} */

.section_self{
    width: 100%;
    height: auto;
    background-color: #2C153A;

}
.bt_rv{
    width: 200px;
    height: 60px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    background-color: #8A4DB8;

}
.mkth{
    width: 100px;
    height: 100px;
    transition: 1s;

}
#table:hover{
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}
#table:hover .mkth{
    box-shadow: 0px 0px 10px 7px gray;
    border-radius: 20px;
    margin-left: 10px;
    transform: scale(1.2);
    transform: rotateY(360deg);
    cursor: pointer;
}
#mores{
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    width: 220px;
    margin-left: 100px;
}
#table:hover #mores{
    background-color: #7A3DAC;
    color: white;
    /* width: 200px; */

}
#mores:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 10px 7px gray;

}
.section_port{
    background-color: #2C153A;
    width: 100%;
    height: auto;

}
.ppg{
    width: 90%;
    height: 93%;
}
#corw{
    background-color: #8043B0;

}
.section_slider{
    height: auto;
    width: 100%;
    /* background-image: url(/img/bggg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #2C153A;
}
.manu{
    width: 100px;
    height: 90px;
    border-radius: 50%;
}
#sr_1{
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;
}
.tw{
    margin-top: -10px;
}
#lef{
    margin-left: -30px;
    margin-top: 20px;
}

#coma{
    margin-top: 10px;
    margin-left: 50px;
    color: #bc6cee;
}
#cox{
    color: #bc6cee;
    margin-bottom: 9px;
    margin-left: 20px;
}


.section_logi{
    /* background-color: ; */
    background-color: #2C153A;
    height: auto;
    margin-top: -100px;
}
.section{
    background-color: #2C153A;
    /* height: 600px; */
    width: 100%;
    margin-top: -70px;
    padding-top: 200px;

}
.comput{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    
}
.comput:hover{
    box-shadow: 0px 0px 11px 7px gray;
}
.sect{
    width: 100%;
    height: 500px;
    background-color: #2C153A;
}
#mom{
    height: 80%;
    border-radius: 20px;
    width: 60%;
    background: linear-gradient( to right,#261231,#5F3326,#8043B0);
}
.bty{
    width: 160px;
    border: none;
    height: 50px;
    border-radius: 20px;
    background-color: #7A3DAC;
    color: white;
    margin-top: 40px;
    margin-left: 30px;
}
footer{
    /* background-color: ; */
    background-color: #2C153A;
}
.sor{
    color: #ba7aeb;
}
 .king{
    color: #8A4DB8;
    font-size: 30px;
 }
 
 .linn:hover{
    /* transform: scale(1.6) !important; */
    /* font-style: italic; */
    /* font-size: 30px; */
    /* font-weight: bold; */
    color: #ba7aeb;
 }
 #logv{
    animation: ncn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
 }

@keyframes ncn{
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.9);
    }
}

#uni:hover{
    box-shadow: 0px 0px 16px 9px rgb(90, 87, 87);
    border: 3px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.comx{
    transition: 2s;
}
#uni:hover .comx{
    transform: rotateY(360deg);
}
#cvc:hover{
    box-shadow: 0px 0px 16px 10px gray;
    cursor: pointer;
}
#cvc:hover #mya{
    color: #ba7aeb !important;
font-weight: bold;
}

#cooi:hover{
    cursor: pointer;
    box-shadow: 0px 0px 16px 9px gray;
}
#sakti{
    transition: 1.2s;

}
#cooi:hover #sakti{
    transform: translateY(-50px);
    /* transform: scale(1); */

}
.bt_rv:hover{
    border: 3px solid white;
    transform: scale(0.9);
    box-shadow: 0px 0px 16px 10px gray;
    background-color: transparent;
}

.ppg{
    border-radius: 20px;
}
.ppg:hover{
    box-shadow: 0px 0px 16px 9px gray;
}
.progress:hover{
    box-shadow: 0px 0px 16px 9px gray;
    cursor: pointer;
}
 #sr_1{
    cursor: pointer;
 }
.manu{
    transition: 1s;
}
#sr_1:hover .manu{
    transform: rotateY(360deg);
    cursor: pointer;
    /* box-shadow: 0px 0px 16px 9px; */

}
#branr{
    transition: 0.8s;
}

#branr:hover{
    
    transform: scale(1.2);
    cursor: pointer;
  
}
#lili{
    transition: 1s;
    /* list-style: none; */
    margin-top: 15px;

}
#lili:hover{
    color: #ba7aeb;
    margin-left: 20px;
    cursor: pointer;
}

.bty:hover{
    border: 3px solid white;
    transform: scale(0.9);
    box-shadow: 0px 0px 16px 10px gray;
    background-color: transparent;
}
#fti{
    transition: 1s;
}
#fti:hover{
    transform: rotateY(360deg);
    transform: scale(1.4);
    color: #bc6cee;
    cursor: pointer;

}
#hox:hover{
    text-decoration: underline;
    cursor: pointer;
    /* font-size: 23px !important; */
    color: #9D5EC5;
}
.htad{
    cursor: pointer;
}
.htad:hover .king{
    transform: scale(1.4);

}
.section_fancy{
    background-color: #2C153A;

}
.main_fancy{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;

    flex-wrap: wrap;

}
.main_fancy a{
    width: 24%;

    height: 48%;
}
.main_fancy a img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px gray;
}


 /* .linn::after{
    content: "";
    height: 100%;
    width: 0%;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    right: 0;
   
    transition: 2s;
    z-index: -1;
    }

 .linn:hover ::after{
    width: 100%;
    background-color: aliceblue;
   
 } */




 .main1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272c2fa5;
    position: fixed;
    z-index: 1;
    
}
.a{
    /* width: 180px;
    height: 180px; */
    /* border: 1px solid black; */
    border-radius: 50%;
    
    background-color: #F1F1F1;
    box-shadow: 1px 1px 15px 5px #272C2F;
}
#fultu{
    width: 100%;
    height: 100vh;
}






#arrow{
    font-size: 40px;
    cursor: pointer;
    padding: 5px;
    position: fixed;
    color: #ba7aeb;
    right: 0;
    bottom: 0;
    border: 2px solid white;
    border-radius: 20px;
}





@media(max-width:480px) {
    header {
        flex-direction: column;
        /* position: relative; */
        height: auto;
        width: 100%;
    }

    .logo {
        width: 50%;
        height:auto;
    }

    header nav {
        width: 100%;
        height: auto;
        display: none;
    }

    header nav ul {
        flex-direction: column;
        height:auto;
        width: 100%;


    }
    header nav ul li{
        margin-top: 10px;
    }


    header nav ul li a {

        /* margin-top: 10px; */
    }

    #barr {
        display: block;

        position: absolute;
        top: 5px;
        right: 20px;
        font-size: 30px;
    }


}
