*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#arrow{
    font-size: 40px;
    cursor: pointer;
    padding: 5px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    border: 2px solid black;
    background-color: #282828;
    color: white;
    border-radius: 2px;
}
.swiper{
    // display: none;
}

body{
// overflow: ;
// overflow-y: hidden;
overflow-x: hidden;
}
$w:100%;
$b:1px solid black;
header{
    width: 100%;
    height: auto;
    // z-index: -1;
    margin-bottom: 60px;

}
.sm_header{
    width: 100%;
    height: 200px;
    // border: 1px solid black;

}
.bg1{
    // background-color: black;
}
.hh1{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hy{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // border: 1px solid white;

}
.mm{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hh2{
    // border: 1px solid black;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hhh{
    @extend .mm;
    // border: 1px solid black;
    width: 72%;
}
.ko{
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 position: relative;

}
.ko1{
    width: 40%;
    height: 100%;

    a{
        font-size: 13px;
        margin-left: 15px;
    }

}
.ko2{
    width: 13%;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}
.ser{
    width: 70%;
    height: 60%;
    padding-left: 12%;
    background-color: #F4F4F4;
    border: none;
    border-radius: 20px;
}
.iuu{
    position: absolute;
    left: 20%;
    
}
nav{
    width: 100%;
    height: 100%;

    ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
        font-weight: bold   ;
    }
}
.cc{
    width: 30%;
    height: 100%;

    a{
        font-size: 14px;
    }
    
}
.hh3{
    // border: 1px solid black;
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boo{
    width: 72%;
    // border: 1px solid black;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cc{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cc1{
    width: 20%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cc2{
    width: 40%;
    height: 100%;
    display: flex;
    // background-color: u;
    // background-color: ur;
    // background-image: url(/img/logo_ecomblack_lg.png);

    justify-content: center;
    align-items: center;

    a{
        font-size: 14px;
    }
    
}
.logh{
    width: 50%;
    height: 70%;
    cursor: pointer;
    animation: uu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes uu {
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    }
}
.cy{
    background-image: url(/img/poster.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}
.cy1{
    background-image: url(/img/baner_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   height: 100px;
}
.side{
    width: auto;
    height: auto;
    // border: $b;
    position: fixed;
    right: 0;
    top: 35%;

    .u{
        width: 100%;
        height: auto;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid rgb(247, 235, 235);
    }
}
.box{
    width: 100%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid black;

    .b{
        height: $w;
        width: 59%;
        // border: $b;
        // background-image: url(/img/poster.jpg);
        background-image: url(/img/new.png);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        
        
    }
    .b:hover{
        box-shadow: 0px 0px 10px 5px gray;
        border: 5px dotted rgba(128, 128, 128, 0.329)
    }
    .b1{
        @extend .b;
        width: 39%;
        box-shadow: none !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // box-shadow: none;
        flex-wrap: wrap;
        border: none !important;
        background-image: none;
        align-content: space-between;
        .bb{
            @extend .b;
            width: $w;
            height: 48%;
            // background-color: black;
            background-color: #282828;
            background-image: none;

            #dropdownMenuButton1{
                width: 85%;
                height:50px;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // color: rgb(49, 48, 48) ;
                color: black;
                text-align: start;

            }
            .dropdown-menu{
                width: 85%;
            }

            .ha{
                color: rgb(49, 48, 48) ;
               
            }
        }
        .bb1{
            @extend .bb;
            // background-image: url(/img/baner_1.jpg);
            background-image: url(/img/new_1.png);
            background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        }

    }
}
.u{
    cursor: pointer;
}
.u:hover i{
    color: goldenrod;
}
.m_box{
    width: $w;
    height: 600px;
    // border: $b;
    display: flex;
    // justify-content: space-evenly;
    // justify-content: space-around;
    justify-content: space-between !important;

    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;

    .mm{
        width: 29%;
        height: 49%;
        // border: $b;
        background-image: url(/img/women.jpg);
        background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
    background-size: cover;
   

    }
    .mm:hover{
        box-shadow: 0px 0px 10px 3px rgba(128, 128, 128, 0.486);
        background-blend-mode: overlay;
        background-color: rgba(97, 91, 91, 0.637);
        transform: scale(0.9);
       
    }

    
    .mm1{
        width: 39%;
        height: 49%;
        // border: $b;
        transition: 1s;
        background-image: url(/img/sofa.jpg);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    }


    .mm1:hover{
        box-shadow: 0px 0px 10px 3px rgba(128, 128, 128, 0.486);
        background-blend-mode: overlay;
        background-color: rgba(97, 91, 91, 0.637);
        transform: scale(0.9);
       
    }


    .mm3:hover{
        box-shadow: 0px 0px 10px 3px rgba(128, 128, 128, 0.486);
        background-blend-mode: overlay;
        background-color: rgba(97, 91, 91, 0.637);
        transform: scale(0.9);
       
    }
    .mm4:hover{
        box-shadow: 0px 0px 10px 3px rgba(128, 128, 128, 0.486);
        background-blend-mode: overlay;
        background-color: rgba(97, 91, 91, 0.637);
        transform: scale(0.9);
       
    }

    .mm2{
        @extend .mm;
        transition: 1s;
        background-image: url(/img/light.jpg);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

    }
    .mm3{
        width: 34%;
        height: 49%;
        transition: 1s;
        // border: $b;
        background-image: url(/img/gog.jpg);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

    }
    .mm4{
        width: 29%;
        height: 49%;
        transition: 1s;
        // border: $b;
        background-image: url(/img/phone.jpg);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

        
    }

    .mm5{
        @extend .mm3;
        background-image: url(/img/shose.jpg);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

    }
}
.section_2{
    background-color: #EEEEEE;

    .owl-carousel{
        // margin-top: 100px;
        // padding-top: 100px !important;

        .item{
            margin-top: 50px ;
            margin-bottom: 50px;
        }


    }

   

    .bgc{
        background-color: transparent;
        border: none;
        transition: 1s;


        i{
            color: goldenrod;
            transition: 2s;
        }
    }
    .bgc:hover{
        transform: scale(1.1);
        // box-shadow: 0px 0px 10px 3px ;
        cursor: pointer;
    
    }
    .bgc:hover img{

        border: 1px dashed rgba(0, 0, 0, 0.171);
    }
    .bgc:hover i{
        transform: rotateY(360deg);

    }

    .bgc:hover .card-text > p{
        // color: ;        
        text-shadow: 0px 1px 2px;
    }

    .fsr{
        font-size: 13px;
        margin-top: -20px;
    }
}

.p_box{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;

    // border: $b;
}
.co{
    width: 49%;
    height: 49%;
    // border: $b;
    background-image: url(/img/flad.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 30px solid #EEEEEE

}
.co:hover{
    box-shadow: 0px 0px 10px 5px gray;
        border: 5px dotted rgba(128, 128, 128, 0.329)
   
}
.co1:hover{
    box-shadow: 0px 0px 10px 5px gray;
        border: 5px dotted rgba(128, 128, 128, 0.329)
   
}
.co2:hover{
    box-shadow: 0px 0px 10px 5px gray;
        border: 5px dotted rgba(128, 128, 128, 0.329)
   
}





.co1{
    @extend .co;
    background-image: url(/img/f_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid #EEEEEE

}
.co2{
    width: 100%;
    height: 49%;
    background-image: url(/img/backk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // border: $b;
}

.co2{


    .inu{
        margin-left: 30% ;
        // text-align: center;
    }
    .bre{
        background-color: #282828;
        color: white;
        height: 50px;
        width: 130px;
        text-align: center;
    }
    .bre:hover{
        box-shadow: 0px 0px 10px 4px gray;
        background-color: transparent;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        margin-right: 1px;
    }
   
    .nz{
        width: 350px !important;
        padding-left: 30px;
        border: none;
        font-size: 20px;
        background-color: rgb(255, 255, 255);
    }
}
.section_3{
    width: 100%;
}
.section_l{
    // margin-left: 100px;
    
    .item{
        
    }
}
#uni{
    margin-left: -250px;
}
#diku{
margin-left: -400px;
}
.lastt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    // border: 1px solid black;
}
.lastt>img:hover{
    transform: scale(0.95);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.329);
    border-radius: 4px;
}
#qop{
    margin-left: 15%;
}
.fulll{
    width: 100%;
    height: 100%;
}
footer{
    background-color: #222529;
    margin-top: 40px;

    .jok{
        // margin-top: -50px;
        margin-bottom: -7px;
    }
    .dev{
        animation: der;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }
    @keyframes der {
        0%{
            transform: scale(0.9);
        }
        50%{
            transform: scale(1);
        }
        100%{
            transform: scale(0.9);
        }
        
    }

    ul{
        display: flex;
        color: white;

        li{
            list-style: none;
            margin-left: 20px;
            color: gray;
        }
        li:hover{
            color: white;
            cursor: pointer;
        }
    }
    .bbu{
        border-top: 1px solid rgba(128, 128, 128, 0.39);
        margin-top: 30px;
        // text-align: start;
 
    }

    .htad{
        font-size: 16px;
        color: gray;
    }
   
}



.line{
    width: 100%;
    // height: 500px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    background-color: #EEEEEE;

    .im{
        width: 170px;
        background-color: #EEEEEE;
        // border: 1px solid black;
        transition: 2s;
        cursor: pointer;
    }
    img{
        transition: 2s;
    }
    .im:hover img{
        transform: rotateY(360deg);
        box-shadow: 0px 0px 10px 7px gray;
    }




    .furr{
        // height: 70%;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        // width: 70%;
    
    }
    
    .textt{
        text-align: center;
        margin-top: 10px;
        margin-left: -20px;

        .mj{
            margin-top: -5px;
            font-size: 12px;
        }
    }
}
#soo>.col>img{
    transition: 1s;
    cursor: pointer;
}
#soo>.col>img:hover{
    transform: scale(1.2);
}
.wq{
    
    filter: grayscale(100%);
}
#momo{
    transition: 2s;
    font-size: 30px !important;

}
#momo:hover{
    color: goldenrod;
    transform: rotateY(360deg);
    cursor: pointer;
}
.htad{
    cursor: pointer;
}
.htad:hover .king{
    transform: scale(1.2);
    
}
.king{
    color: goldenrod;

}
.st24{
    color: white;
}